<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Get Data from Github</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link type="text/css" rel="stylesheet" href="/css/style.css" />
</head>
<body>
<div class="container">
  <h2>Get Data From Github</h2>
    <div th:if="${organization}">
        <h3 th:text="${organization.name}"></h3>
        <div th:each="employee, row: ${organization.employees}" th:text="${employee.name}">Employee X</div>
    </div>
    <div th:unless="${organization}">
       <form method="GET">
           <input type="input" name="organization"/>
           <button>Load Data</button>
       </form>
    </div>
</div>

</body>
</html>