<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Get Data from Github</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link type="text/css" rel="stylesheet" href="/css/style.css" />
</head>
<body>
<div class="container">
    <h2>Search for Language Specialists</h2>

    <div>
        <form method="get">
            <div class="sameLine">Language:</div>
            <div class="sameLine"><input name="language" /></div>
            <div class="sameLine"><button>Find</button></div>
        </form>
    </div>
</div>

</body>
</html>